(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hcircumflex,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
R.ss04,
Racute.ss04,
Rcaron.ss04,
Rcommaaccent.ss04,
G.ss06,
Gbreve.ss06,
Gcircumflex.ss06,
Gcommaaccent.ss06,
Gdotaccent.ss06,
Gmacron.ss06,
Adieresis.ss08,
Cdotaccent.ss08,
Edieresis.ss08,
Edotaccent.ss08,
Gdotaccent.ss08,
Idieresis.ss08,
Idotaccent.ss08,
Odieresis.ss08,
Udieresis.ss08,
Wdieresis.ss08,
Ydieresis.ss08,
Zdotaccent.ss08,
Gdotaccent.ss06.ss08,
Ezh,
Ezhcaron,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.ss01,
aacute.ss01,
abreve.ss01,
acaron.ss01,
acircumflex.ss01,
adieresis.ss01,
agrave.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
a.ss02,
aacute.ss02,
abreve.ss02,
acaron.ss02,
acircumflex.ss02,
adieresis.ss02,
agrave.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
atilde.ss02,
l.ss03,
lacute.ss03,
lcaron.ss03,
lcommaaccent.ss03,
lslash.ss03,
adieresis.ss08,
cdotaccent.ss08,
edieresis.ss08,
edotaccent.ss08,
gdotaccent.ss08,
i.ss08,
idieresis.ss08,
idotaccent.ss08,
iogonek.ss08,
j.ss08,
odieresis.ss08,
udieresis.ss08,
wdieresis.ss08,
ydieresis.ss08,
zdotaccent.ss08,
adieresis.ss01.ss08,
adieresis.ss02.ss08,
ezh,
ezhcaron,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Yusbig-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Kadescender-cy",
"Endescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Shha-cy",
"Palochka-cy",
"Schwa-cy",
"Imacron-cy",
"Obarred-cy",
"Umacron-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gestroke-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"yusbig-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"kadescender-cy",
"endescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"chedescender-cy",
"shha-cy",
"palochka-cy",
"schwa-cy",
"imacron-cy",
"obarred-cy",
"umacron-cy",
Lambda,
Omega,
lambda,
pi,
uni4E16,
uni4ECA,
uni4F55,
uni51FA,
uni65E5,
"u-hira",
"so-hira",
"ni-hira",
"ha-hira",
"wo-hira",
eulerconstant,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.ss09,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
"period-han",
hyphen_hyphen.liga,
hyphen_hyphen_hyphen.liga,
hyphen_hyphen_hyphen_greater.liga,
hyphen_hyphen_greater.liga,
hyphen_greater.liga,
hyphen_greater_greater.liga,
hyphen_less.liga,
hyphen_less_less.liga,
hyphen_asciitilde.liga,
braceleft_bar.liga,
period_period_period.liga,
period_period_equal.liga,
period_equal.liga,
colon_equal.liga,
exclam_question.liga,
exclam_equal.liga,
exclam_equal_equal.liga,
question_question.liga,
question_question_question.liga,
numbersign_numbersign_numbersign.liga,
slash_equal.liga,
numbersign_underscore.liga,
numbersign_underscore_parenleft.liga,
slash_equal_equal.liga,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dittomark,
numbersign,
slash,
backslash,
period.ss08,
colon.ss08,
semicolon.ss08,
ellipsis.ss08,
exclam.ss08,
exclamdown.ss08,
question.ss08,
questiondown.ss08,
periodcentered.ss08,
hyphen,
endash,
emdash,
underscore,
wavedash,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.alt,
parenright.alt,
bracketleft.alt,
bracketright.alt,
bracketleft.alt2,
bracketright.alt2,
bracketleft.alt.white,
bracketright.alt.white,
bracketleft.alt2.white,
bracketright.alt2.white,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.alt,
guillemetright.alt,
florin,
baht,
bar_hyphen_greater.liga,
bar_braceright.liga,
bar_bar_bar_greater.liga,
bar_bar_equal.liga,
bar_bar_greater.liga,
bar_equal.liga,
bar_greater.liga,
equal_equal.liga,
equal_equal_equal.liga,
equal_equal_greater.liga,
equal_greater.liga,
equal_greater_greater.liga,
equal_less_less.liga,
equal_slash_equal.liga,
greater_hyphen.liga,
greater_hyphen_greater.liga,
greater_equal.liga,
greater_equal_greater.liga,
greater_greater_hyphen.liga,
greater_greater_equal.liga,
less_hyphen.liga,
less_hyphen_hyphen.liga,
less_hyphen_greater.liga,
less_hyphen_less.liga,
less_exclam_hyphen_hyphen.liga,
less_bar.liga,
less_bar_bar.liga,
less_bar_bar_bar.liga,
less_bar_greater.liga,
less_equal.liga,
less_equal_equal.liga,
less_equal_equal_greater.liga,
less_equal_greater.liga,
less_equal_less.liga,
less_greater.liga,
less_less_hyphen.liga,
less_less_equal.liga,
less_asciitilde.liga,
less_asciitilde_greater.liga,
less_asciitilde_asciitilde.liga,
less_slash_greater.liga,
asciitilde_hyphen.liga,
asciitilde_at.liga,
asciitilde_equal.liga,
asciitilde_greater.liga,
asciitilde_asciitilde.liga,
asciitilde_asciitilde_greater.liga,
percent_percent.liga,
less_exclam_hyphen_hyphen_hyphen.liga,
apple,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
numero,
blank,
formFeedControl,
clear,
deleteLeftKey,
deleterightKey,
returnsymbol,
verticalTabulationControl,
cent,
currency,
dollar,
euro,
hryvnia,
ruble,
rupeeIndian,
sheqel,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
greater.alt,
less.alt,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
rightWaveArrow,
leftTabArrow,
rightTabArrow,
leftHookArrow,
rightHookArrow,
upTipLeftArrow,
upTipRightArrow,
downTipRightArrow,
rightCornerDownArrow,
carriagereturn,
upWhiteArrow,
upArrow.ss07,
northEastArrow.ss07,
rightArrow.ss07,
southEastArrow.ss07,
downArrow.ss07,
southWestArrow.ss07,
leftArrow.ss07,
northWestArrow.ss07,
leftRightArrow.ss07,
upDownArrow.ss07,
lowerOneEighthBlock,
lowerOneQuarterBlock,
lowerThreeEighthsBlock,
lowerHalfBlock,
lowerFiveEighthsBlock,
lowerThreeQuartersBlock,
lowerSevenEighthsBlock,
fullBlock,
upperHalfBlock,
upperOneEighthBlock,
leftOneEighthBlock,
leftOneQuarterBlock,
leftThreeEighthsBlock,
leftBlock,
leftFiveEighthsBlock,
leftThreeQuartersBlock,
leftSevenEighthsBlock,
rightBlock,
rightOneEighthBlock,
lowerLeftBlock,
lowerRightBlock,
upperLeftBlock,
upperLeftAndLowerLeftAndLowerRightBlock,
upperLeftAndLowerRightBlock,
upperLeftAndUpperRightAndLowerLeftBlock,
upperLeftAndUpperRightAndLowerRightBlock,
upperRightBlock,
upperRightAndLowerLeftBlock,
upperRightAndLowerLeftAndLowerRightBlock,
shadelight,
shademedium,
shadedark,
blackCircle,
whiteCircle,
dottedCircle,
lozenge,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
boxDoubleDownAndHorizontal,
boxDoubleDownAndLeft,
boxDoubleDownAndRight,
boxDoubleHorizontal,
boxDoubleUpAndHorizontal,
boxDoubleUpAndLeft,
boxDoubleUpAndRight,
boxDoubleVertical,
boxDoubleVerticalAndHorizontal,
boxDoubleVerticalAndLeft,
boxDoubleVerticalAndRight,
boxDownDoubleAndHorizontalSingle,
boxDownDoubleAndLeftSingle,
boxDownDoubleAndRightSingle,
boxDownHeavyAndHorizontalLight,
boxDownHeavyAndLeftLight,
boxDownHeavyAndLeftUpLight,
boxDownHeavyAndRightLight,
boxDownHeavyAndRightUpLight,
boxDownHeavyAndUpHorizontalLight,
boxDownLightAndHorizontalHeavy,
boxDownLightAndLeftHeavy,
boxDownLightAndLeftUpHeavy,
boxDownLightAndRightHeavy,
boxDownLightAndRightUpHeavy,
boxDownLightAndUpHorizontalHeavy,
boxDownSingleAndHorizontalDouble,
boxDownSingleAndLeftDouble,
boxDownSingleAndRightDouble,
boxHeavyDoubleDashHorizontal,
boxHeavyDoubleDashVertical,
boxHeavyDown,
boxHeavyDownAndHorizontal,
boxHeavyDownAndLeft,
boxHeavyDownAndRight,
boxHeavyHorizontal,
boxHeavyLeft,
boxHeavyLeftAndLightRight,
boxHeavyQuadrupleDashHorizontal,
boxHeavyQuadrupleDashVertical,
boxHeavyRight,
boxHeavyTripleDashHorizontal,
boxHeavyTripleDashVertical,
boxHeavyUp,
boxHeavyUpAndHorizontal,
boxHeavyUpAndLeft,
boxHeavyUpAndLightDown,
boxHeavyUpAndRight,
boxHeavyVertical,
boxHeavyVerticalAndHorizontal,
boxHeavyVerticalAndLeft,
boxHeavyVerticalAndRight,
boxLeftDownHeavyAndRightUpLight,
boxLeftHeavyAndRightDownLight,
boxLeftHeavyAndRightUpLight,
boxLeftHeavyAndRightVerticalLight,
boxLeftLightAndRightDownHeavy,
boxLeftLightAndRightUpHeavy,
boxLeftLightAndRightVerticalHeavy,
boxLeftUpHeavyAndRightDownLight,
boxLightArcDownAndLeft,
boxLightArcDownAndRight,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalCross,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDoubleDashHorizontal,
boxLightDoubleDashVertical,
boxLightDown,
boxLightDownAndHorizontal,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightLeft,
boxLightLeftAndHeavyRight,
boxLightQuadrupleDashHorizontal,
boxLightQuadrupleDashVertical,
boxLightRight,
boxLightTripleDashHorizontal,
boxLightTripleDashVertical,
boxLightUp,
boxLightUpAndHeavyDown,
boxLightUpAndHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
boxLightVerticalAndHorizontal,
boxLightVerticalAndLeft,
boxLightVerticalAndRight,
boxRightDownHeavyAndLeftUpLight,
boxRightHeavyAndLeftDownLight,
boxRightHeavyAndLeftUpLight,
boxRightHeavyAndLeftVerticalLight,
boxRightLightAndLeftDownHeavy,
boxRightLightAndLeftUpHeavy,
boxRightLightAndLeftVerticalHeavy,
boxRightUpHeavyAndLeftDownLight,
boxUpDoubleAndHorizontalSingle,
boxUpDoubleAndLeftSingle,
boxUpDoubleAndRightSingle,
boxUpHeavyAndDownHorizontalLight,
boxUpHeavyAndHorizontalLight,
boxUpHeavyAndLeftDownLight,
boxUpHeavyAndLeftLight,
boxUpHeavyAndRightDownLight,
boxUpHeavyAndRightLight,
boxUpLightAndDownHorizontalHeavy,
boxUpLightAndHorizontalHeavy,
boxUpLightAndLeftDownHeavy,
boxUpLightAndLeftHeavy,
boxUpLightAndRightDownHeavy,
boxUpLightAndRightHeavy,
boxUpSingleAndHorizontalDouble,
boxUpSingleAndLeftDouble,
boxUpSingleAndRightDouble,
boxVerticalDoubleAndHorizontalSingle,
boxVerticalDoubleAndLeftSingle,
boxVerticalDoubleAndRightSingle,
boxVerticalHeavyAndHorizontalLight,
boxVerticalHeavyAndLeftLight,
boxVerticalHeavyAndRightLight,
boxVerticalLightAndHorizontalHeavy,
boxVerticalLightAndLeftHeavy,
boxVerticalLightAndRightHeavy,
boxVerticalSingleAndHorizontalDouble,
boxVerticalSingleAndLeftDouble,
boxVerticalSingleAndRightDouble,
"brevecomb-cy",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
dieresiscomb.ss08,
dotaccentcomb.ss08,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresis.ss08,
dotaccent.ss08,
apostrophemod,
primemod,
verticallinemod,
SPC,
blackCircled,
blackCircledStroke
)