<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>apostrophemod</string>
			<string>Acaron</string>
			<string>Acircumflexdotbelow</string>
			<string>Adblgrave</string>
			<string>Adieresismacron</string>
			<string>Adotaccent</string>
			<string>Adotmacron</string>
			<string>Ainvertedbreve</string>
			<string>Alpha-latin</string>
			<string>Aringbelow</string>
			<string>Astroke</string>
			<string>AEmacron</string>
			<string>Bdotaccent</string>
			<string>Bdotbelow</string>
			<string>Beta-latin</string>
			<string>Bhook</string>
			<string>Bmacronbelow</string>
			<string>Bstroke</string>
			<string>Ccedillaacute</string>
			<string>Chi-latin</string>
			<string>Chook</string>
			<string>Cstroke</string>
			<string>Dcedilla</string>
			<string>Dcircumflexbelow</string>
			<string>Ddotaccent</string>
			<string>Ddotbelow</string>
			<string>Dhook</string>
			<string>Dmacronbelow</string>
			<string>Dtail</string>
			<string>Ecedilla</string>
			<string>Ecedillabreve</string>
			<string>Ecircumflexbelow</string>
			<string>Ecircumflexdotbelow</string>
			<string>Edblgrave</string>
			<string>Edotbelow</string>
			<string>Einvertedbreve</string>
			<string>Emacronacute</string>
			<string>Emacrongrave</string>
			<string>Eopen</string>
			<string>Ereversed</string>
			<string>Esh</string>
			<string>Estroke</string>
			<string>Etilde</string>
			<string>Etildebelow</string>
			<string>Schwa</string>
			<string>Ezh</string>
			<string>Ezhcaron</string>
			<string>Ezhreversed</string>
			<string>Fdotaccent</string>
			<string>Fhook</string>
			<string>Gacute</string>
			<string>Gcaron</string>
			<string>Ghook</string>
			<string>Glottalstop</string>
			<string>Gmacron</string>
			<string>Gstroke</string>
			<string>Hbrevebelow</string>
			<string>Hcaron</string>
			<string>Hcedilla</string>
			<string>Hdieresis</string>
			<string>Hdotaccent</string>
			<string>Hdotbelow</string>
			<string>Heng</string>
			<string>Hhook</string>
			<string>Hturned</string>
			<string>Icaron</string>
			<string>Idblgrave</string>
			<string>Idieresisacute</string>
			<string>Idotbelow</string>
			<string>Iinvertedbreve</string>
			<string>Iota-latin</string>
			<string>Istroke</string>
			<string>Itilde</string>
			<string>Itildebelow</string>
			<string>Jcrossedtail</string>
			<string>Jstroke</string>
			<string>Kacute</string>
			<string>Kcaron</string>
			<string>Kdotbelow</string>
			<string>Khook</string>
			<string>Kmacronbelow</string>
			<string>Kstroke</string>
			<string>Lbar</string>
			<string>Lbelt</string>
			<string>Lcircumflexbelow</string>
			<string>Ldotbelow</string>
			<string>Ldotbelowmacron</string>
			<string>Ldoublebar</string>
			<string>Lmacronbelow</string>
			<string>Lmiddletilde</string>
			<string>Macute</string>
			<string>Mdotaccent</string>
			<string>Mdotbelow</string>
			<string>Mturned</string>
			<string>Ncircumflexbelow</string>
			<string>Ndotaccent</string>
			<string>Ndotbelow</string>
			<string>Ngrave</string>
			<string>Nhookleft</string>
			<string>Nlongrightleg</string>
			<string>Nmacronbelow</string>
			<string>OU</string>
			<string>Ocaron</string>
			<string>Ocenteredtilde</string>
			<string>Ocircumflexdotbelow</string>
			<string>Odblgrave</string>
			<string>Odieresismacron</string>
			<string>Odotaccent</string>
			<string>Odotaccentmacron</string>
			<string>Odotbelow</string>
			<string>Oinvertedbreve</string>
			<string>Omacronacute</string>
			<string>Omacrongrave</string>
			<string>Omega-latin</string>
			<string>Oogonek</string>
			<string>Oogonekmacron</string>
			<string>Oopen</string>
			<string>Oslashacute</string>
			<string>Otildeacute</string>
			<string>Otildedieresis</string>
			<string>Otildemacron</string>
			<string>Pacute</string>
			<string>Pdotaccent</string>
			<string>Phook</string>
			<string>Pstroke</string>
			<string>Qhooktail</string>
			<string>Rdblgrave</string>
			<string>Rdotaccent</string>
			<string>Rdotbelow</string>
			<string>Rdotbelowmacron</string>
			<string>Rinvertedbreve</string>
			<string>Rmacronbelow</string>
			<string>Rstroke</string>
			<string>Rtail</string>
			<string>Sacutedotaccent</string>
			<string>Saltillo</string>
			<string>Scarondotaccent</string>
			<string>Sdotaccent</string>
			<string>Sdotbelow</string>
			<string>Sdotbelowdotaccent</string>
			<string>Sobliquestroke</string>
			<string>Tcircumflexbelow</string>
			<string>Tdiagonalstroke</string>
			<string>Tdotaccent</string>
			<string>Tdotbelow</string>
			<string>Thook</string>
			<string>Tmacronbelow</string>
			<string>Tretroflexhook</string>
			<string>Ubar</string>
			<string>Ucaron</string>
			<string>Ucircumflexbelow</string>
			<string>Udblgrave</string>
			<string>Udieresisacute</string>
			<string>Udieresisbelow</string>
			<string>Udieresiscaron</string>
			<string>Udieresisgrave</string>
			<string>Udieresismacron</string>
			<string>Udotbelow</string>
			<string>Uinvertedbreve</string>
			<string>Umacrondieresis</string>
			<string>Upsilon-latin</string>
			<string>Utilde</string>
			<string>Utildeacute</string>
			<string>Utildebelow</string>
			<string>Gamma-latin</string>
			<string>Vdotbelow</string>
			<string>Vhook</string>
			<string>Vtilde</string>
			<string>Vturned</string>
			<string>Wdotaccent</string>
			<string>Wdotbelow</string>
			<string>Whook</string>
			<string>Xdieresis</string>
			<string>Xdotaccent</string>
			<string>Ydotaccent</string>
			<string>Yhook</string>
			<string>Ymacron</string>
			<string>Ystroke</string>
			<string>Zcircumflex</string>
			<string>Zdotbelow</string>
			<string>Zmacronbelow</string>
			<string>Zstroke</string>
			<string>Ismall</string>
			<string>acaron</string>
			<string>acircumflexdotbelow</string>
			<string>adblgrave</string>
			<string>adieresismacron</string>
			<string>adotaccent</string>
			<string>adotbelow</string>
			<string>adotmacron</string>
			<string>ainvertedbreve</string>
			<string>alpha-latin</string>
			<string>aringbelow</string>
			<string>astroke</string>
			<string>aemacron</string>
			<string>bdotaccent</string>
			<string>bdotbelow</string>
			<string>beta-latin</string>
			<string>bhook</string>
			<string>bilabialclick</string>
			<string>bmacronbelow</string>
			<string>bstroke</string>
			<string>ccedillaacute</string>
			<string>chi-latin</string>
			<string>chook</string>
			<string>cstroke</string>
			<string>dcedilla</string>
			<string>dcircumflexbelow</string>
			<string>ddotaccent</string>
			<string>ddotbelow</string>
			<string>dhook</string>
			<string>dmacronbelow</string>
			<string>dtail</string>
			<string>ecedilla</string>
			<string>ecedillabreve</string>
			<string>ecircumflexbelow</string>
			<string>ecircumflexdotbelow</string>
			<string>edblgrave</string>
			<string>edotbelow</string>
			<string>einvertedbreve</string>
			<string>emacronacute</string>
			<string>emacrongrave</string>
			<string>eopen</string>
			<string>esh</string>
			<string>estroke</string>
			<string>etilde</string>
			<string>etildebelow</string>
			<string>eturned</string>
			<string>schwa</string>
			<string>ezh</string>
			<string>ezhcaron</string>
			<string>ezhreversed</string>
			<string>fdotaccent</string>
			<string>gacute</string>
			<string>gamma-latin</string>
			<string>gcaron</string>
			<string>ghook</string>
			<string>glottalstop</string>
			<string>glottalstopreversed</string>
			<string>glottalstopsmall</string>
			<string>gmacron</string>
			<string>gstroke</string>
			<string>hbrevebelow</string>
			<string>hcaron</string>
			<string>hcedilla</string>
			<string>hdieresis</string>
			<string>hdotaccent</string>
			<string>hdotbelow</string>
			<string>heng</string>
			<string>hhook</string>
			<string>hturned</string>
			<string>icaron</string>
			<string>idblgrave</string>
			<string>idieresisacute</string>
			<string>idotbelow</string>
			<string>iinvertedbreve</string>
			<string>iota-latin</string>
			<string>istroke</string>
			<string>itilde</string>
			<string>itildebelow</string>
			<string>jcrossedtail</string>
			<string>jstroke</string>
			<string>kacute</string>
			<string>kcaron</string>
			<string>kdotbelow</string>
			<string>khook</string>
			<string>kmacronbelow</string>
			<string>kstroke</string>
			<string>lambdastroke</string>
			<string>lbar</string>
			<string>lbelt</string>
			<string>lcircumflexbelow</string>
			<string>ldotbelow</string>
			<string>ldotbelowmacron</string>
			<string>ldoublebar</string>
			<string>lmacronbelow</string>
			<string>lmiddletilde</string>
			<string>macute</string>
			<string>mdotaccent</string>
			<string>mdotbelow</string>
			<string>mturned</string>
			<string>ncircumflexbelow</string>
			<string>ndotaccent</string>
			<string>ndotbelow</string>
			<string>ngrave</string>
			<string>nhookleft</string>
			<string>nlegrightlong</string>
			<string>nmacronbelow</string>
			<string>obarred</string>
			<string>ocaron</string>
			<string>ocircumflexdotbelow</string>
			<string>odblgrave</string>
			<string>odieresismacron</string>
			<string>odotaccent</string>
			<string>odotaccentmacron</string>
			<string>odotbelow</string>
			<string>oinvertedbreve</string>
			<string>omacronacute</string>
			<string>omacrongrave</string>
			<string>omega-latin</string>
			<string>oogonek</string>
			<string>oogonekmacron</string>
			<string>oopen</string>
			<string>oslashacute</string>
			<string>otildeacute</string>
			<string>otildedieresis</string>
			<string>otildemacron</string>
			<string>ou</string>
			<string>pacute</string>
			<string>pdotaccent</string>
			<string>phook</string>
			<string>pstroke</string>
			<string>qhooktail</string>
			<string>rdblgrave</string>
			<string>rdotaccent</string>
			<string>rdotbelow</string>
			<string>rdotbelowmacron</string>
			<string>rfishhook</string>
			<string>rinvertedbreve</string>
			<string>rmacronbelow</string>
			<string>rstroke</string>
			<string>rtail</string>
			<string>sacutedotaccent</string>
			<string>saltillo</string>
			<string>scarondotaccent</string>
			<string>sdotaccent</string>
			<string>sdotbelow</string>
			<string>sdotbelowdotaccent</string>
			<string>sobliquestroke</string>
			<string>tcircumflexbelow</string>
			<string>tdiagonalstroke</string>
			<string>tdotaccent</string>
			<string>tdotbelow</string>
			<string>thook</string>
			<string>tmacronbelow</string>
			<string>tretroflexhook</string>
			<string>ubar</string>
			<string>ucaron</string>
			<string>ucircumflexbelow</string>
			<string>udblgrave</string>
			<string>udieresisacute</string>
			<string>udieresisbelow</string>
			<string>udieresiscaron</string>
			<string>udieresisgrave</string>
			<string>udieresismacron</string>
			<string>udotbelow</string>
			<string>uinvertedbreve</string>
			<string>umacrondieresis</string>
			<string>upsilon-latin</string>
			<string>utilde</string>
			<string>utildeacute</string>
			<string>utildebelow</string>
			<string>vdotbelow</string>
			<string>vhook</string>
			<string>vtilde</string>
			<string>vturned</string>
			<string>wdotaccent</string>
			<string>wdotbelow</string>
			<string>whook</string>
			<string>xdieresis</string>
			<string>xdotaccent</string>
			<string>ydotaccent</string>
			<string>yhook</string>
			<string>ymacron</string>
			<string>ystroke</string>
			<string>zcircumflex</string>
			<string>zdotbelow</string>
			<string>zmacronbelow</string>
			<string>zstroke</string>
			<string>hmod</string>
			<string>nmod</string>
			<string>wmod</string>
			<string>clickalveolar</string>
			<string>clickdental</string>
			<string>clicklateral</string>
			<string>clickretroflex</string>
			<string>umod</string>
			<string>vmod</string>
			<string>zmod</string>
			<string>florin</string>
			<string>colonmod</string>
			<string>doubleapostrophemod</string>
			<string>minusmod</string>
			<string>shortequalmod</string>
			<string>kip</string>
			<string>rbelowcomb</string>
			<string>gravecomb_macroncomb</string>
			<string>acutecomb_macroncomb</string>
			<string>macroncomb_gravecomb</string>
			<string>macroncomb_acutecomb</string>
			<string>verticallineabovecomb</string>
			<string>dblgravecomb</string>
			<string>candraBinducomb</string>
			<string>breveinvertedcomb</string>
			<string>commaabovecomb</string>
			<string>ringbelowcomb</string>
			<string>verticallinebelowcomb</string>
			<string>circumflexbelowcomb</string>
			<string>breveinvertedbelowcomb</string>
			<string>tildebelowcomb</string>
			<string>macronbelowcomb</string>
			<string>lowlinecomb</string>
			<string>tildeoverlaycomb</string>
			<string>dotaboverightcomb</string>
			<string>acutemacroncomb</string>
			<string>gravemacroncomb</string>
			<string>macronacutecomb</string>
			<string>macrongravecomb</string>
			<string>secondtonechinese</string>
			<string>fourthtonechinese</string>
			<string>commaturnedmod</string>
			<string>glottalstopmod</string>
			<string>ringhalfleft</string>
			<string>ringhalfright</string>
			<string>uniA7AE</string>
			<string>uniA7B8</string>
			<string>uniA7B9</string>
		</array>
		<key>name</key>
		<string>GF_Latin_African</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>apostrophemod</string>
			<string>lambda</string>
			<string>chi</string>
			<string>dotbelowcomb</string>
			<string>Acaron</string>
			<string>Astroke</string>
			<string>Cstroke</string>
			<string>Emacronacute</string>
			<string>Emacrongrave</string>
			<string>Eopen</string>
			<string>Etilde</string>
			<string>Schwa</string>
			<string>Ezh</string>
			<string>Ezhcaron</string>
			<string>Gcaron</string>
			<string>Glottalstop</string>
			<string>Gmacron</string>
			<string>Gstroke</string>
			<string>Hdotbelow</string>
			<string>Icaron</string>
			<string>Idotbelow</string>
			<string>Istroke</string>
			<string>Itilde</string>
			<string>Kacute</string>
			<string>Kcaron</string>
			<string>Kdotbelow</string>
			<string>Kmacronbelow</string>
			<string>Lbar</string>
			<string>Ldotbelow</string>
			<string>Lmiddletilde</string>
			<string>Mdotbelow</string>
			<string>Ndotbelow</string>
			<string>Nmacronbelow</string>
			<string>Ocaron</string>
			<string>Omacronacute</string>
			<string>Omacrongrave</string>
			<string>Oogonek</string>
			<string>Oogonekmacron</string>
			<string>Oopen</string>
			<string>Saltillo</string>
			<string>Sdotbelow</string>
			<string>Tdiagonalstroke</string>
			<string>Tmacronbelow</string>
			<string>Ucaron</string>
			<string>Upsilon-latin</string>
			<string>Utilde</string>
			<string>Gamma-latin</string>
			<string>Zcircumflex</string>
			<string>Zmacronbelow</string>
			<string>Ismall</string>
			<string>acaron</string>
			<string>astroke</string>
			<string>chi-latin</string>
			<string>cstroke</string>
			<string>emacronacute</string>
			<string>emacrongrave</string>
			<string>eopen</string>
			<string>etilde</string>
			<string>schwa</string>
			<string>ezh</string>
			<string>ezhcaron</string>
			<string>gamma-latin</string>
			<string>gcaron</string>
			<string>glottalstop</string>
			<string>glottalstopreversed</string>
			<string>gmacron</string>
			<string>gstroke</string>
			<string>hdotbelow</string>
			<string>icaron</string>
			<string>idotbelow</string>
			<string>iota-latin</string>
			<string>istroke</string>
			<string>itilde</string>
			<string>kacute</string>
			<string>kcaron</string>
			<string>kdotbelow</string>
			<string>kmacronbelow</string>
			<string>lambdastroke</string>
			<string>lbar</string>
			<string>lbelt</string>
			<string>ldotbelow</string>
			<string>lmiddletilde</string>
			<string>mdotbelow</string>
			<string>ndotbelow</string>
			<string>nmacronbelow</string>
			<string>ocaron</string>
			<string>omacronacute</string>
			<string>omacrongrave</string>
			<string>oogonek</string>
			<string>oogonekmacron</string>
			<string>oopen</string>
			<string>saltillo</string>
			<string>sdotbelow</string>
			<string>tdiagonalstroke</string>
			<string>tmacronbelow</string>
			<string>ucaron</string>
			<string>upsilon-latin</string>
			<string>utilde</string>
			<string>zcircumflex</string>
			<string>zmacronbelow</string>
			<string>wmod</string>
			<string>clickalveolar</string>
			<string>zmod</string>
			<string>commaabovecomb</string>
			<string>macronbelowcomb</string>
			<string>lowlinecomb</string>
			<string>commaturnedmod</string>
			<string>glottalstopmod</string>
			<string>Ccircumflex</string>
			<string>Gcircumflex</string>
			<string>Hcircumflex</string>
			<string>Jcircumflex</string>
			<string>Scircumflex</string>
			<string>Tbar</string>
			<string>Tcedilla</string>
			<string>Ytilde</string>
			<string>ccircumflex</string>
			<string>gcircumflex</string>
			<string>hcircumflex</string>
			<string>idotless_ogonek</string>
			<string>jcaron</string>
			<string>jcircumflex</string>
			<string>kgreenlandic</string>
			<string>scircumflex</string>
			<string>tbar</string>
			<string>tcedilla</string>
			<string>ytilde</string>
			<string>ymod</string>
			<string>thetamod</string>
			<string>degree</string>
			<string>YturnedSansSerif</string>
			<string>commaaboverightcomb</string>
			<string>strokeshortcomb</string>
			<string>primemod</string>
			<string>verticallinemod</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Beyond</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>macroncomb</string>
			<string>dotaccent</string>
			<string>degree</string>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>B</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>D</string>
			<string>Eth</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>H</string>
			<string>Hbar</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>J</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
			<string>Eng</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>OE</string>
			<string>P</string>
			<string>Thorn</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Germandbls</string>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>ae</string>
			<string>b</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>eth</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>h</string>
			<string>hbar</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>j</string>
			<string>jdotless</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>eng</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oe</string>
			<string>p</string>
			<string>thorn</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tcaron</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>.notdef</string>
			<string>comma</string>
			<string>semicolon</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>periodcentered.loclCAT</string>
			<string>periodcentered.loclCAT.case</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>minus</string>
			<string>asciitilde</string>
			<string>asciicircum</string>
			<string>dotaccentcomb</string>
			<string>caroncomb.alt</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>commaturnedabovecomb</string>
			<string>commaaccentcomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>dieresis</string>
			<string>grave</string>
			<string>acute</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>ring</string>
			<string>tilde</string>
			<string>macron</string>
			<string>cedilla</string>
			<string>ogonek</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Core</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>degree</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>.notdef</string>
			<string>comma</string>
			<string>semicolon</string>
			<string>question</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>at</string>
			<string>ampersand</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>minus</string>
			<string>asciitilde</string>
			<string>asciicircum</string>
			<string>grave</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Kernel</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>numero</string>
			<string>hryvnia</string>
			<string>tenge</string>
			<string>tugrik</string>
			<string>whiteSquare</string>
			<string>pi</string>
			<string>dblverticalbar</string>
			<string>kip</string>
			<string>zero.zero</string>
			<string>zero.tf</string>
			<string>one.tf</string>
			<string>two.tf</string>
			<string>three.tf</string>
			<string>four.tf</string>
			<string>five.tf</string>
			<string>six.tf</string>
			<string>seven.tf</string>
			<string>eight.tf</string>
			<string>nine.tf</string>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
			<string>fraction</string>
			<string>onehalf</string>
			<string>onethird</string>
			<string>twothirds</string>
			<string>onequarter</string>
			<string>threequarters</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>leftanglebracket-math</string>
			<string>rightanglebracket-math</string>
			<string>baht</string>
			<string>minute</string>
			<string>second</string>
			<string>brokenbar</string>
			<string>dagger</string>
			<string>literSign</string>
			<string>daggerdbl</string>
			<string>estimated</string>
			<string>bitcoin</string>
			<string>cedi</string>
			<string>colonsign</string>
			<string>dong</string>
			<string>guarani</string>
			<string>lari</string>
			<string>liraTurkish</string>
			<string>manat</string>
			<string>naira</string>
			<string>peso</string>
			<string>ruble</string>
			<string>rupee</string>
			<string>rupeeIndian</string>
			<string>sheqel</string>
			<string>won</string>
			<string>notequal</string>
			<string>greaterequal</string>
			<string>lessequal</string>
			<string>plusminus</string>
			<string>approxequal</string>
			<string>logicalnot</string>
			<string>emptyset</string>
			<string>infinity</string>
			<string>integral</string>
			<string>Ohm</string>
			<string>increment</string>
			<string>product</string>
			<string>summation</string>
			<string>radical</string>
			<string>partialdiff</string>
			<string>micro</string>
			<string>perthousand</string>
			<string>upArrow</string>
			<string>northEastArrow</string>
			<string>rightArrow</string>
			<string>southEastArrow</string>
			<string>downArrow</string>
			<string>southWestArrow</string>
			<string>leftArrow</string>
			<string>northWestArrow</string>
			<string>leftRightArrow</string>
			<string>upDownArrow</string>
			<string>blackCircle</string>
			<string>whiteCircle</string>
			<string>whiteBullet</string>
			<string>blackDiamond</string>
			<string>whiteDiamond</string>
			<string>lozenge</string>
			<string>blackSquare</string>
			<string>blackSmallSquare</string>
			<string>whiteSmallSquare</string>
			<string>upBlackTriangle</string>
			<string>rightBlackTriangle</string>
			<string>downBlackTriangle</string>
			<string>leftBlackTriangle</string>
			<string>upWhiteTriangle</string>
			<string>rightWhiteTriangle</string>
			<string>downWhiteTriangle</string>
			<string>leftWhiteTriangle</string>
			<string>upBlackSmallTriangle</string>
			<string>rightBlackSmallTriangle</string>
			<string>downBlackSmallTriangle</string>
			<string>leftBlackSmallTriangle</string>
			<string>upWhiteSmallTriangle</string>
			<string>rightWhiteSmallTriangle</string>
			<string>downWhiteSmallTriangle</string>
			<string>leftWhiteSmallTriangle</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Plus</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>dotbelowcomb</string>
			<string>Acircumflexdotbelow</string>
			<string>Ecircumflexdotbelow</string>
			<string>Edotbelow</string>
			<string>Etilde</string>
			<string>Idotbelow</string>
			<string>Itilde</string>
			<string>Ocircumflexdotbelow</string>
			<string>Odotbelow</string>
			<string>Udotbelow</string>
			<string>Utilde</string>
			<string>acircumflexdotbelow</string>
			<string>adotbelow</string>
			<string>ecircumflexdotbelow</string>
			<string>edotbelow</string>
			<string>etilde</string>
			<string>idotbelow</string>
			<string>itilde</string>
			<string>ocircumflexdotbelow</string>
			<string>odotbelow</string>
			<string>udotbelow</string>
			<string>utilde</string>
			<string>Ytilde</string>
			<string>ytilde</string>
			<string>Abreveacute</string>
			<string>Abrevedotbelow</string>
			<string>Abrevegrave</string>
			<string>Abrevehookabove</string>
			<string>Abrevetilde</string>
			<string>Acircumflexacute</string>
			<string>Acircumflexgrave</string>
			<string>Acircumflexhookabove</string>
			<string>Acircumflextilde</string>
			<string>Adotbelow</string>
			<string>Ahookabove</string>
			<string>Ecircumflexacute</string>
			<string>Ecircumflexgrave</string>
			<string>Ecircumflexhookabove</string>
			<string>Ecircumflextilde</string>
			<string>Ehookabove</string>
			<string>Ihookabove</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhookabove</string>
			<string>Ocircumflextilde</string>
			<string>Ohookabove</string>
			<string>Ohorn</string>
			<string>Ohornacute</string>
			<string>Ohorndotbelow</string>
			<string>Ohorngrave</string>
			<string>Ohornhookabove</string>
			<string>Ohorntilde</string>
			<string>Uhookabove</string>
			<string>Uhorn</string>
			<string>Uhornacute</string>
			<string>Uhorndotbelow</string>
			<string>Uhorngrave</string>
			<string>Uhornhookabove</string>
			<string>Uhorntilde</string>
			<string>Ydotbelow</string>
			<string>Yhookabove</string>
			<string>abreveacute</string>
			<string>abrevedotbelow</string>
			<string>abrevegrave</string>
			<string>abrevehookabove</string>
			<string>abrevetilde</string>
			<string>acircumflexacute</string>
			<string>acircumflexgrave</string>
			<string>acircumflexhookabove</string>
			<string>acircumflextilde</string>
			<string>ahookabove</string>
			<string>ecircumflexacute</string>
			<string>ecircumflexgrave</string>
			<string>ecircumflexhookabove</string>
			<string>ecircumflextilde</string>
			<string>ehookabove</string>
			<string>ihookabove</string>
			<string>ocircumflexacute</string>
			<string>ocircumflexgrave</string>
			<string>ocircumflexhookabove</string>
			<string>ocircumflextilde</string>
			<string>ohookabove</string>
			<string>ohorn</string>
			<string>ohornacute</string>
			<string>ohorndotbelow</string>
			<string>ohorngrave</string>
			<string>ohornhookabove</string>
			<string>ohorntilde</string>
			<string>uhookabove</string>
			<string>uhorn</string>
			<string>uhornacute</string>
			<string>uhorndotbelow</string>
			<string>uhorngrave</string>
			<string>uhornhookabove</string>
			<string>uhorntilde</string>
			<string>ydotbelow</string>
			<string>yhookabove</string>
			<string>brevecomb_acutecomb</string>
			<string>brevecomb_gravecomb</string>
			<string>brevecomb_hookabovecomb</string>
			<string>brevecomb_tildecomb</string>
			<string>circumflexcomb_acutecomb</string>
			<string>circumflexcomb_gravecomb</string>
			<string>circumflexcomb_hookabovecomb</string>
			<string>circumflexcomb_tildecomb</string>
			<string>hookabovecomb</string>
			<string>horncomb</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Vietnamese</string>
	</dict>
</array>
</plist>
