(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
R.ss04,
Racute.ss04,
Rcaron.ss04,
Rcommaaccent.ss04,
I.ss05,
Iacute.ss05,
Icircumflex.ss05,
Idieresis.ss05,
Idotaccent.ss05,
Igrave.ss05,
Imacron.ss05,
Iogonek.ss05,
Itilde.ss05,
G.ss06,
Gbreve.ss06,
Gcircumflex.ss06,
Gcommaaccent.ss06,
Gdotaccent.ss06,
Gmacron.ss06,
Adieresis.ss08,
Cdotaccent.ss08,
Edieresis.ss08,
Edotaccent.ss08,
Gdotaccent.ss08,
Idieresis.ss08,
Idotaccent.ss08,
Odieresis.ss08,
Udieresis.ss08,
Wdieresis.ss08,
Ydieresis.ss08,
Zdotaccent.ss08,
Idieresis.ss05.ss08,
Idotaccent.ss05.ss08,
Gdotaccent.ss06.ss08,
Ezh,
Ezhcaron,
A_I.dlig,
U_I.dlig,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.ss01,
aacute.ss01,
abreve.ss01,
acaron.ss01,
acircumflex.ss01,
adieresis.ss01,
agrave.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
a.ss02,
aacute.ss02,
abreve.ss02,
acaron.ss02,
acircumflex.ss02,
adieresis.ss02,
agrave.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
atilde.ss02,
l.ss03,
lacute.ss03,
lcaron.ss03,
lcommaaccent.ss03,
lslash.ss03,
adieresis.ss08,
cdotaccent.ss08,
edieresis.ss08,
edotaccent.ss08,
gdotaccent.ss08,
i.ss08,
idieresis.ss08,
idotaccent.ss08,
iogonek.ss08,
ij.ss08,
j.ss08,
odieresis.ss08,
udieresis.ss08,
wdieresis.ss08,
ydieresis.ss08,
zdotaccent.ss08,
adieresis.ss01.ss08,
adieresis.ss02.ss08,
ezh,
ezhcaron,
f_f.liga,
fi,
fl,
t_t.liga,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Yusbig-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Kadescender-cy",
"Endescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Shha-cy",
"Palochka-cy",
"Schwa-cy",
"Imacron-cy",
"Obarred-cy",
"Umacron-cy",
"I-cy.ss05",
"Yi-cy.ss05",
"Palochka-cy.ss05",
"Io-cy.ss08",
"Yi-cy.ss08",
"Yi-cy.ss05.ss08",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gestroke-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"yusbig-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"kadescender-cy",
"endescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"chedescender-cy",
"shha-cy",
"palochka-cy",
"schwa-cy",
"imacron-cy",
"obarred-cy",
"umacron-cy",
"a-cy.ss01",
"a-cy.ss02",
"io-cy.ss08",
"i-cy.ss08",
"yi-cy.ss08",
Lambda,
Omega,
lambda,
mu,
pi,
uni4E16,
uni4ECA,
uni4F55,
uni51FA,
uni65E5,
"u-hira",
"so-hira",
"ni-hira",
"ha-hira",
"wo-hira",
eulerconstant,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.ss09,
one.ss09,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
.notdef,
"period-han",
hyphen_hyphen_hyphen_greater.liga,
hyphen_hyphen_greater.liga,
hyphen_greater.liga,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
period.ss08,
colon.ss08,
semicolon.ss08,
ellipsis.ss08,
exclam.ss08,
exclamdown.ss08,
question.ss08,
questiondown.ss08,
periodcentered.ss08,
periodcentered.loclCAT.case,
periodcentered.loclCAT.ss08,
periodcentered.loclCAT.case.ss08,
hyphen,
endash,
emdash,
underscore,
wavedash,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.alt,
parenright.alt,
braceleft.alt,
braceright.alt,
bracketleft.alt,
bracketright.alt,
braceleft.alt.white,
braceright.alt.white,
bracketleft.alt.white,
bracketright.alt.white,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.alt,
guillemetright.alt,
florin,
baht,
less_hyphen.liga,
less_hyphen_hyphen.liga,
less_hyphen_hyphen_hyphen.liga,
less_hyphen_greater.liga,
whiteFrowningFace,
whiteSmilingFace,
apple,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
numero,
formFeedControl,
returnsymbol,
verticalTabulationControl,
cent,
currency,
dollar,
euro,
hryvnia,
peso,
ruble,
rupeeIndian,
sheqel,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
ratio,
greater.alt,
less.alt,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
rightWaveArrow,
leftTabArrow,
rightTabArrow,
leftHookArrow,
rightHookArrow,
upTipLeftArrow,
upTipRightArrow,
downTipRightArrow,
rightCornerDownArrow,
carriagereturn,
upWhiteArrow,
upArrow.ss07,
northEastArrow.ss07,
rightArrow.ss07,
southEastArrow.ss07,
downArrow.ss07,
southWestArrow.ss07,
leftArrow.ss07,
northWestArrow.ss07,
leftRightArrow.ss07,
upDownArrow.ss07,
blackCircle,
whiteCircle,
dottedCircle,
lozenge,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
"brevecomb-cy",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
dieresiscomb.ss08,
dotaccentcomb.ss08,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresis.ss08,
dotaccent.ss08,
apostrophemod,
primemod,
verticallinemod,
blackCircled,
blackCircledStroke
)