name: Build font and specimen

on: push

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install sys tools/deps
      run: |
        sudo apt-get update
        sudo apt-get install ttfautohint libcairo2-dev python3-cairo-dev pkg-config python3-dev
        sudo snap install yq
    - uses: actions/cache@v4
      with:
        path: ./venv/
        key: ${{ runner.os }}-venv-${{ hashFiles('**/requirements*.txt') }}
        restore-keys: |
          ${{ runner.os }}-venv-
    - name: Build font
      run: make build
    - name: Check with fontbakery
      run: make test
      continue-on-error: true
    - name: proof
      run: make proof
    - name: setup site
      run: cp scripts/index.html out/index.html
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out
    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: geist-font-fonts
        path: |
          fonts
          out
          geist-font.zip
          packages/next/dist/fonts

  release:
    name: Release
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download font artifacts
        uses: actions/download-artifact@v4
        with:
          name: geist-font-fonts
          path: ./artifacts

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        working-directory: packages/next
        run: pnpm install --frozen-lockfile

      - name: Move the font files for npm from build artifacts to the npm package
        run: |
          rm -rf packages/next/dist/fonts
          mv artifacts/packages/next/dist/fonts packages/next/dist/fonts

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
          version: pnpm run version
          cwd: packages/next
          title: "changesets: update versions of packages for release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_ELEVATED }}

      # This will upload the font zip and attach it to the existing github release for the npm package,
      # allowing users to download just the font zip files without the source code of the npm package.
      - name: Upload font zip to GitHub Release
        if: steps.changesets.outputs.published == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$(jq -r '.version' packages/next/package.json)
          mv artifacts/geist-font.zip "geist-font-v$VERSION.zip"
          gh release upload "geist@$VERSION" "geist-font-v$VERSION.zip" --clobber
